NEXTCLOUD_DB_DIR=/tank/nextcloud/db
NEXTCLOUD_DATA_DIR=/tank/nextcloud/data
NEXTCLOUD_CONFIG_DIR=/tank/nextcloud/config
NEXTCLOUD_DOCUMENTS_DIR=/tank/documents
NEXTCLOUD_USERS_DIR=/tank/users
NEXTCLOUD_FILES_DIR=/tank/files

MYSQL_ROOT_PASSWORD=REPLACE_ME
MYSQL_PASSWORD=REPLACE_ME
REDIS_PASSWORD=REPLACE_ME
COLLABORA_PASSWORD=REPLACE_ME
