ACTUAL_BUDGET_NATHAN_DIR=/tank/appdata/actual-budget
ACTUAL_BUDGET_CHERISE_DIR=/tank/appdata/actual-budget-cherise

ACTUAL_OPENID_DISCOVERY_URL=https://REPLACE_ME/.well-known/openid-configuration
ACTUAL_OPENID_CLIENT_ID=REPLACE_ME
ACTUAL_OPENID_CLIENT_SECRET=REPLACE_ME
ACTUAL_OPENID_SERVER_HOSTNAME_NATHAN=https://budget.nphls.com
ACTUAL_OPENID_SERVER_HOSTNAME_CHERISE=https://budgetc.nphls.com
